
.mainLayout {
    /* color: white; */
    font-family: "lato" sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 100%;
    background-image: linear-gradient(to right bottom, 
    rgba(229, 240, 70, 0.651), 
    rgba(231, 184, 56, 0.658)), 
    url(../../anime/steins-gate.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position: top; 
    position: relative;
   
}

.textBox {
    top: 40%;
    left: 50%;
   text-align: center;
}

.headingPrimary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.headingPrimaryMain {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.headingPrimarySub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
   

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px) scale(3);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0) scale(1);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

