.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
}

.sectionLeft {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.sectionRight {
    flex: 1;
    color: red;
}

.searchBar {
    /* transform: skew(20deg); */
    margin-top: 30px;
}

.searchBar input {
    border: 1px red solid;
    border-radius: 5px;
    padding-left: 10px;
    
}

.searchBar input:focus {
    outline: none;
}

.searchBar button {
    border: 1px red solid;
    border-radius: 5px;
    margin-right: 30px;
    cursor: pointer;
}


.searchBar button:active{
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.searchBar button:focus {
    outline: none;
}

.animeListStyle {
    color: white;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btnWhite {
    background-color: #fff;
    color: #777
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btnWhite::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btnAnimated {
    animation: moveInUp .5s ease-out .75s;
    animation-fill-mode: backwards;
}